*{
	margin: 0;
	padding: 0;
}
ul{ 
	list-style: none;
}
a{
	text-decoration: none;
}
body{
  background-color: white;
  width: 1900px;
}

.smallHeaders {
	font-family: "Raleway";
	font-weight: bold;
	font-size: 14px;
	text-align: center;	
	text-transform: uppercase;
	color:white;
}

/*Block Header*/
}
.wrapper{
	width: 100%;
	height: 1001px;
  	text-transform: uppercase;
  	text-align: center;
}

header{
  	background: url("img/Layer 34.png") no-repeat 50% 0;
	width: 1900px;
  	height: 1001px;
}

header h1{
	float: left;
	margin: 38px 0 0 365px;
}

nav{
	float: right;
	margin: 45px 365px 155px 0px;
	}
nav li{
	float: right;
	margin: 0px 30px 0px 30px;
	font-size: 13px;
  	font-family: "Raleway";
  	color: white;
  	font-weight: bold;
  	text-transform: uppercase;
  	}
 nav li a{
 	font-size: 13px;
  	font-family: "Raleway";
  	color: white;
  	font-weight: bold;
  	text-transform: uppercase;
 }

 header h2{
  clear:both;
  margin-bottom: 25px;
  font-size: 65px;
  font-family: "Open Sans";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
 }

  header h3{
  clear:both;
  font-size: 22px;
  margin-bottom: 120px;
  font-family: "Webdings";
  color: white;
  text-align: center;

 }

 .button a{
 	padding: 12px 44px;
 	background-color: #e84545;
	font-size: 13px;
  	font-family: "Raleway";
  	color: white;
  	font-weight: bold;
  	text-transform: uppercase;
  	text-align: center;
  }

/*End of block Header*/

/*Block features*/
.features{
	margin-left: 365px;
	margin-right: 365px;
	height: 345px;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 14px;
	float:both;

}

.feature{
	width: 33.3%;
	float:left;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 14px;
	text-align: center;	
	text-transform: uppercase;
}

.NoteFeature {
  font-size: 14px;
  font-family: "Webdings";
  color: rgb(108, 114, 121);
  text-align: center;
}

/* End of block Features */

/* Block Works*/
.works{
	width: 100%;
	height: 350px;
	float:left;
	text-align: justify;
}

.images{
	float:left;
	text-align: center;
}

.images h2{
	font-family: sans-serif;
	font-size: 20px;
	position: relative;
	text-align: center;
	top: -200px;
	color: white;
}

/* End of block Works*/

/* Block Contacts*/

.contactBackground {
	background-color: #3a3e64;
	height: 250px;
	float:left;
	width: 100%;

}
.contactblock{
	margin-left: 365px;
	margin-right: 365px;
	height: 250px;
}

.contactCell{
	width: 33.3%;
	width: 370px;
	float:left;
	padding-top: 70px;
}

.smallHeaders {
	font-family: "Raleway";
	font-weight: bold;
	font-size: 14px;
	text-align: center;	
	text-transform: uppercase;
}

.smallFooters {
  font-size: 14px;
  font-family: "Webdings";
  color: rgba(255, 255, 255, 0.502);
  text-align: center;
}

.socialNetworks {
	margin-left: 105px ;
	margin-right: 105px;
}

.socialNetworksIcons {
	border-style:solid;
	border-width: 2px;
	border-color: white;
	border-radius: 2px;
	float:left;
	margin:5px 5px 5px 5px;
	width: 40px;
	height: 40px;
	text-align: center;

}

.centeredInBlock {
	padding: 12px;
}

/* End of block Contacts*/

/*Block Copyright */
.lastblock{
	float:left;
	width: 100%;
	height: 95px ;
	margin: 0px 0px 0px 0px;
	background-color: #313454;
	text-align: center;
	color: white;
	font-family: Webdings;
}

/* End of block Copyright*/